// ====== Home page =======
// banner section
.banner-section {
  background-image: url(../public/images/get-paid-bg.png),
    url(../public/images/get-paid-coin.png),
    linear-gradient(180deg, #5502e4 0%, #591e9e 100%);
  background-position: center, right bottom, bottom;
  background-repeat: no-repeat;
  background-size: cover, auto, cover;
}

// counter section
.border-gradient-second {
  background: linear-gradient(#2e3549, #2e3549) padding-box,
    linear-gradient(to top left, #fe53bb, #09fbd3) border-box;
  border-radius: 30px;
  border: 1px solid transparent;
  padding: 30px;
  position: relative;
  z-index: 0;
}

.border-gradient-second::before {
  position: absolute;
  content: "";
  background: #2e3549;
  border-radius: 30px;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: skew(-0.5deg, -0.5deg);
}

.border-gradientq {
  background: linear-gradient(#2e3549, #2e3549) padding-box,
    linear-gradient(to top left, #09fbd3, #fe53bb) border-box;
  border-radius: 50px;
  border: 1px solid transparent;
  position: relative;
  z-index: 0;
}

.faqs-section {
  background: url(../public/images/faq-bg.png), #2e3549;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  position: relative;
}

// social section
.social-section {
  background: url(../public/images/social-area-bg.png), #0dce93;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 30px;
}

// ====== Earn page =======
// offer section
.featured-offer-section {
  background-image: url(../public/images/get-paid-bg.png),
    linear-gradient(180deg, #2e3549 0%, #2f1151 100%);
  background-position: center;
  border-radius: 10px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
}

// offer wall section rang bar
.single-thumb {
  .range-slider__range {
    background: #109f5a !important;
  }
  .range-slider__thumb[data-lower] {
    width: 0;
  }

  .range-slider__thumb[data-upper] {
    width: 0;
  }

  .range-slider__range {
    border-radius: 6px;
  }
}

// .content-box ul li {
//   position: relative;
// }
// .content-box ul li::before {
//   position: absolute;
//   content: "";
//   background: #397d15;
//   border-radius: 50%;
//   left: 0;
//   z-index: -1;
//   width: 6px;
//   z-index: 200;
//   height: 6px;
// }
