@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: green;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-menu::-webkit-scrollbar {
  display: none;
}

input {
  width: 100%;
  outline: none;
}

@layer components {
  .section-gap {
    @apply pt-[60px] lg:pt-[80px] xl:pt-[120px];
  }

  .padding-top-120 {
    @apply pt-[120px];
  }
  .padding-bottom-120 {
    @apply pb-[120px];
  }

  .padding-left-120 {
    @apply pl-[120px];
  }

  .padding-right-120 {
    @apply pr-[120px];
  }

  .padding-top-60 {
    @apply pt-[60px];
  }
  .padding-bottom-60 {
    @apply pb-[60px];
  }

  .padding-left-60 {
    @apply pl-[60px];
  }

  .padding-right-60 {
    @apply pr-[60px];
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */
