@tailwind base;
@tailwind components;
@tailwind utilities;

/*===== scrollbar style start ====*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #183327;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff8b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-menu::-webkit-scrollbar {
  display: none;
}
/*===== scrollbar style end ====*/

input {
  width: 100%;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #58f6a4;
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #212737 inset;
  transition: background-color 5000s ease-in-out 0s;
}

@layer components {
  /* section top gap */
  .section-gap {
    @apply pt-10 md:pt-[60px] xl:pt-20 xxl:pt-[120px];
  }
}
