@tailwind base;
@tailwind components;
@tailwind utilities;

/*===== scrollbar style start ====*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #183327;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00ff8b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.sidebar-menu::-webkit-scrollbar {
  display: none;
}
/*===== scrollbar style end ====*/

input {
  width: 100%;
  outline: none;
}

@layer components {
  /* section top gap */
  .section-gap {
    @apply pt-10 md:pt-[60px] xl:pt-20 xxl:pt-[120px];
  }
}
